# Ignore node_modules directory
node_modules/
**/*node_modules

# Ignore environment variable files
/vars

.env.development
.env.production
**/*.env.development

# Ignore log files
logs
*.log
npm-debug.log*

# Ignore build output
dist/
build/

package-lock.json